/* Universal Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*::selection {
    background-color: #66dd48;
}

body {
    background-image: url("../Img/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw; 
    overflow: hidden;
}

/* Form */

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
}


.form-wrapper {
    width: 400px;
    height: 530px;
    background-color: #fff;
    border-radius: 15px;
    margin-top: 20px;
}

.form-wrapper-s {
    width: 400px;
    height: 600px !important;
    background-color: #fff;
    border-radius: 15px;
    margin-top: 20px;
}

.form-wrapper h1 {
    font-family: 'Doppio One', sans-serif;
    text-align: center;
    font-size: 50px;
    font-weight: lighter;
    margin-top: 40px;
}

.form-wrapper form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-wrapper form input {
    width: 80%;
    height: 40px;
    background: #eaeaea;
    border: none;
    border-bottom: 4px #48a930 solid;
    outline-color: #48a930;
    padding-left: 10px;
    font-size: 18px;
    font-family: 'Roboto Slab', 'Roboto', sans-serif;
}

.form-wrapper form label {
    font-family: 'Roboto Slab', 'Roboto', sans-serif;
}

.form-wrapper form #label-username {
    margin-top: 40px;
}

.form-wrapper form #label-password,
.form-wrapper form #label-email {
    margin-top: 20px;
}

.form-wrapper form input::placeholder {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin-left: 10px;
}

.form-wrapper form .sign-up {
    font-family: 'Roboto Slab', 'Roboto', sans-serif;
    font-size: 14px;
    margin-top: 10px;
}

.form-wrapper form .sign-up a {
    color: #48a930;
    text-decoration: underline;
}

.form-wrapper form button {
    height: 55px;
    width: 65%;
    margin-top: 30px;
    border: none;
    outline: none;
    border-radius: 30px;
    background: linear-gradient(270deg, #EBD250 0%, #48A930 100%);
    font-family: 'Doppio One', 'Roboto Slab', 'Roboto', sans-serif;
    font-size: 32px;
    transition: opacity 0.3s ease-in-out;
    cursor: pointer;
}

.form-wrapper form button:hover {
    opacity: 0.7;
}

/* Create Account */
#createaccount {
    font-family: 'Roboto Slab', 'Roboto', sans-serif;
    font-size: 14px;
}

#createaccount a {
    color: #2582a1;
}

/* Image Changer */

.form-container .form-wrapper .image-select {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container .form-wrapper .image-select #image-value {
    font-family: 'Roboto Slab', 'Roboto', sans-serif;
    background: #eaeaea;
    font-size: 18px;
    margin-top: 20px;
    width: 300px;
    height: 35px;
    border: none;
    padding-left: 10px;
    outline-color: #48a930;
    border-bottom: 4px #48a930 solid;
}

.form-container .form-wrapper .image-select #image-value::placeholder {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

.form-container .form-wrapper .image-select #image-btn {
    margin-top: 10px;
    width: 150px;
    height: 30px;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    background: linear-gradient(270deg, #EBD250 0%, #48A930 100%);
    font-family: 'Roboto Slab', 'Roboto', sans-serif;
    font-size: 18px;
    transition: opacity 0.3s ease-in-out;
}

.form-container .form-wrapper .image-select #image-btn:hover {
    opacity: 0.7;
}